{% load static %}

{% block content %}
    <div class="login-container">
        <img class="image" src="{% static 'home/img/full-vertical.svg' %}" alt="Logo" height="70">
        <link rel="stylesheet" href="{% static 'home/css/login.css' %}">
        <p class="vorod">ورود | ثبت‌نام</p>
        <p class="matn">سلام!</p>
        <p class="matn1">لطفا شماره موبایل یا ایمیل خود را وارد کنید</p>

        <form method="POST" action="{% url 'verify_code' %}" id="login-form">
            {% csrf_token %}
            <input type="text" class="form-input" name="phone" placeholder="شماره موبایل یا ایمیل">
            <button type="submit" class="login-button">ورود</button>
        </form>
        <p class="terms">
    ورود شما به معنای پذیرش        <a href="{% url 'terms' %}">شرایط دیجی‌کالا</a> و
            <a href="{% url 'privacy' %}">قوانین حریم خصوصی</a> است
        </p>

    </div>

    <script src="{% static 'home/js/validation.js' %}"></script>
{% endblock %}
