{% load static %}

{% block content %}
    <div class="login-container">
        <img class="image" src="{% static 'home/img/full-vertical.svg' %}" alt="Logo" height="70">
        <link rel="stylesheet" href="{% static 'home/css/login.css' %}">


        <p class="vorod">{{ message }}</p>

        <form method="POST" action="{% url 'verify_code' %}">
            {% csrf_token %}
            <input type="password" class="form-input" name="password" placeholder="Enter your password">
            <button type="submit" class="login-button">ورود</button>
        </form>

        <a href="{% url 'verify_code' %}" class="password-login">ورود با رمز عبور</a>

        <p class="terms">
            دریافت مجدد کد از طریق <a href="#">پیامک</a> یا <a href="#">تماس</a>
        </p>
    </div>
{% endblock %}
